/*variables*/
$color-nav:white;
$color-nav-item:#593131;
$color-button-card: #CAAFAB;
$color-h2: black;
$color-texto: black;
$color-hover:#593131;
/* color guardado #CF9087 */

/*importan desde archivos especificos*/
@import 'estructuras';
@import 'menu';

header {
    width: 100%;
    position: fixed;
    z-index: 9999;
}
#presentacion {
    background-image: url(../img/paperosa1.png); 
    background-repeat: no-repeat; 
    background-size: cover;
    padding-top: 90px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p {   
    width: 100%;
    margin-top: -150px;
    font-family: 'Amiri', serif; 
    font-size: 1rem;
    font-style: italic;
    color: $color-nav-item;
    }
}
hr {
    border-top: none;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
h2, h3 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 3rem;
}
.btn {
    background-color: $color-button-card;
    border: none;
    font-weight: 400;
    a {
        text-decoration: none;
        color: #ffffff !important;
    }
    &:hover{
    background-color: $color-hover;
    }
}

.bio {
    background-image: url(../img/PngItem_1080319.png);
    background-repeat: no-repeat; 
    background-size: cover;
    height: 500px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p {
        width: 100%;
        padding-left: 105px;
        font-size: 1.7rem;
        font-family: 'Reenie Beanie', cursive;

    }
}
 
#footer {
    background-color: $color-nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
        div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        }
        p {
            color: $color-nav-item;
        font-family: 'Amiri', serif;
        font-style: italic;
        }
        i {
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin: 0px 20px 30px 20px ;
            padding: 10px;
            color: $color-nav-item!important;
            font-size: 2rem;
            transition: all linear 1s;
                &:hover {
                color:$color-hover!important;
                padding-left: 20px;
                padding-right: 20px;
                }
        }
}
#contacto {
    font-family: 'Roboto'; 
    padding-right: 130px;
    padding-left: 130px;
        
}
.card {
    border: none;
    text-align: center;
    font-family: 'Roboto'; 

}
.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}


